@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Open+Sans:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #f0ece2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    font-size: 60px;
    color: #596e79;
    padding: 20px 0 30px 0;
    text-shadow: 3px 3px 4px #dfd3c3;
    font-family: 'Mouse Memoirs', sans-serif;
}

h2 {
    color: #928270;
    margin-bottom: 10px;
    
}

span {
    display: inline-block;
    opacity: 0;
    transition: all 0.8s ease;
    transform: scaleX(20%);
    color: black;
}

span.fade {
    opacity: 0.9;
    transform: scaleX(100%);
    color: #928270;;
}

.box {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 320px;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0 , 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}


.box:nth-of-type(even) {
    transform: translateX(-400%);
}


.box.show {
    transform: translateX(0);
}

footer {
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0;
    color: #928270;
}

footer a {
    color: #928270;
  text-decoration: none;
}

footer a:hover {
    color: #6e6355;
    font-weight: 500;
  }

  @media only screen and (max-width: 480px) {
    body {
        background: black; 
    }
    h1 {
        font-size: 30px;
        color: white;
    }
    h2 {
        margin-bottom: 5px;
        font-size: 20px;
        color: rgb(214, 200, 200);
    }
    span {
        color: rgb(214, 200, 200);
    }
    
    span.fade {
        color: rgb(212, 175, 175);
    }
    .box {
        height: 320px;
    }
    footer {
        font-size: 12px;
        line-height: 20px;
        margin: 10px 0;
        color: rgb(212, 175, 175);
    }
    footer a {
        color: rgb(212, 175, 175);
    }

    footer a:hover {
        color: rgb(238, 197, 197);
    }
  }